<script src="/javascripts/client.js"></script>

<script>
    window.console = window.console || function (t) { };
</script>

<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>

<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="https://use.fontawesome.com/1c6f725ec5.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    .dropdown-toggle::after {
        content: none;
    }

    h1{
        margin-bottom: .35rem;
    }

</style>

{{!-- <div class="green-background"></div> --}}
<div class="wrap">
    <section class="left">
        <div class="profile">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1089577/user.jpg">

            <p id="username" style="margin-top: auto;margin-right: auto">{{userData.username}}</p>

            <input type="text" id="thisUser" value="{{userData.username}}" hidden>

            <input type="text" id="secondPerson" value="" hidden>

            <div class="icons">
                <i class="fa fa-commenting fa-lg" aria-hidden="true"></i>
                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
            </div>
        </div>
        <div class="wrap-search">
            <div class="search">
                <i class="fa fa-search fa" aria-hidden="true"></i>
                <input type="text" class="input-search" placeholder="Search users">
            </div>
        </div>
        <div class="contact-list">
            {{!-- active-contact --}}
            {{#each users}}
            
            <div class="contact" id="6" onclick="getChat('{{this.username}}')"><img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1089577/contact7.JPG" alt="profilpicture">
                <div class="contact-preview">
                    <div class="contact-text">
                        <h1 class="font-name">{{this.username}}</h1>
                        <p class="font-preview">Last message</p>
                    </div>
                </div>
                <div class="contact-time">
                    <p>17:54</p>
                </div>

            </div>
            
            {{/each}}
        </div>
    </section>

    <section class="right">
        <div class="chat-head">
            {{!-- <img alt="profilepicture"> --}}
            
            <div class="chat-name">
                <h1 class="font-name" id="secondPersonChat" style="margin-left: 16px;"></h1>
                <p class="font-online"></p>
            </div>
            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
            <div class="dropdown" style="margin: auto;">
                <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars fa-lg" aria-hidden="true" id="show-contact-information"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>

            <i class="fa fa-times fa-lg" aria-hidden="true" id="close-contact-information"></i>

        </div>
        <div class="wrap-chat">
            <div class="chat" id="chat">

                <h2 id="noUserError" style="color: red;display: none;">You have to select a user</h2>

            </div>
            <div class="information"></div>
        </div>
        <div class="wrap-message">

            <form id="sendMessage" style="width: 100%;">
                <div class="row container-fluid">
                    <div class="col-sm-3" style="margin: auto;">
                        <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
                    </div>

                    <div class="col-sm-8" style="margin-top: 8px;">
                        <div class="message">
                            <input type="text" id="outputMessage" class="input-message" placeholder="Type a message">
                        </div>
                    </div>

                    <div class="col-sm-1" style="margin: auto;">
                        {{!-- <i class="fa fa-microphone fa-lg" aria-hidden="true"></i> --}}
                        <button id="send" class="btn" type="submit"><span class="iconify" data-inline="false" id=""
                                data-icon="fluent:send-16-filled" style="transform: rotate(
                360deg
                );
                    color: #aaaaaa;
                    text-align: center;
                    font-size: 1.33333333em;
                    line-height: 0.75em;
                    display: inline-block;
                    margin: auto;
                    vertical-align: -15%;
                    width: 60px;">
                            </span></button>
                    </div>

                </div>



            </form>

        </div>
    </section>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script>
    function getChat(secondPerson) {
        console.log('started', secondPerson)

        $("#secondPerson").val(secondPerson)
        document.getElementById('secondPersonChat').innerHTML=secondPerson

    }
</script>

<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io();

    console.log('id undo gooys', socket)

    $("#sendMessage").submit(function (e) {
        e.preventDefault(); // prevents page reloading
        let id = "entho id"
        console.log(id)
        let vall = $("#outputMessage").val()
        let thisUser = $("#thisUser").val()
        let secondUser = $("#secondPerson").val()

        let msg = {
            from: thisUser,
            to: secondUser,
            content: vall
        }

        if (secondUser) {
            document.getElementById('noUserError').style.display = "none"
            socket.emit("message", msg);
            $("#outputMessage").val("");
            return true;
        } else {
            document.getElementById('noUserError').style.display = "block"
        }

    });


    //document.getElementById('send').addEventListener("click", () => {
    //    console.log('mone clicki')
    //    let txt = document.getElementById('inputMessage').value;
    //    socket.emit("message", txt)
    //})

    socket.on("board_content", (msg) => {
        console.log(msg)
        console.log(msg.to)
        let thisUser = $("#thisUser").val()
        let secondUser = $("#secondPerson").val()
        console.log(thisUser)


        if (msg.to == thisUser || msg.from == thisUser) {
            console.log(msg)

            let box = document.createElement("div");

            box.innerText = msg.content;

            if (msg.to == thisUser) {
                box.style.cssText = 'background: #ffffff;margin: 0px auto 10px 0px;border-radius: 7px;box-shadow: 0 2px 2px rgb(0 0 0 / 5%);padding: 5px 7px;width: 350px;max-width: 100%;position: relative;'
            } else {
                box.style.cssText = 'background: #dcf8c6;margin: 0px 0px 10px auto;border-radius: 7px;box-shadow: 0 2px 2px rgb(0 0 0 / 5%);padding: 5px 7px;width: 350px;max-width: 100%;position: relative;';
            }

            console.log('petti kittii')

            $('#chat').append(box);
        }
    })
</script>